<!DOCTYPE html>
<html ng-app='LunchCheck'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Dependency Injection in Javascript
           (and AngularJS)</title>
  </head>
  <body ng-controller='LunchCheckController' >
    <h1  >Lunch Check (Module 1)</h1>
    <div >
      <h3>Items to be Checked:<h3>
      <div>
        <input type="text"
             ng-model="items" style="border: 2px solid {{col}}">
</div>
<br>

             <button ng-click="click(items)">Check If Too Much</button>
<div style=" color : {{col}}"> {{ans}} </div>
<br>
<div><b>Note:</b>   It will work for all types of input.</div>
    </div>
  </body>
</html>
